@import '../../globals.scss';

.container, .containerCenter{
    display: flex;
    flex-wrap: wrap;

}

.title{
    position: absolute;
    bottom: 0;
    width: 200px;
    background-color: rgba(0,0,0,.75);
    font: $fontFamily;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    align-self: center;
}
.titleLetters{
    padding-left: 20%;
}

.image{
    width: 200px;
    display: block;
    vertical-align: middle;
}

.article{
    width: 300px;
    display: inline-block;
    margin: 10px;
    max-width: 220px;
    display: block;
    vertical-align: middle;
    position: relative;
}


@media screen and (max-width: 768px) {
    .containerCenter{
        justify-content: center;
    }

    .article{
        width: 150px;
    }

    .title{
        width: 150px;
    }

    .image{
        width: 150px;
    }
}