.container{
   padding-left: 30px;
   border-right: 1px solid lightgray;
   display: flex;
   flex-direction: column;
   text-transform: uppercase;
   line-height: 2.5;
   min-width: 250px;
   max-width: 250px;
   margin-top: 30px;
}

.category{
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

.categorySelected{
    font-weight: bold;
    background-color: rgb(241, 241, 241);
}