@import '../../globals.scss';

.appBar{
    // background-color: $primaryColor;
    font-weight: bold;
}

.menuAppbar{
    font-weight: 700;
}

.menuItem{
    text-decoration: none;
}

.category{
    text-decoration: none;
    color: black;
}

.categorySelected{
    font-weight: bold;
    background-color: rgb(241, 241, 241);
}
